{% extends "base.html" %} {% block title %}Home - El Pueblo Mexican Food{%
endblock %} {% block content %}

     <div class="container">
        <h1>Event Details</h1>
        <form action="{{ url_for('event_details') }}" method="post">
            <div>
                <input type="number" id="people" name="people" placeholder="Number of People" required>
            </div>
            <div>
                <input type="date" id="date" name="date" required>
            </div>
            <div>
                <select id="time" name="time" required>
                    <option value="" disabled selected>Select Time</option>
                    <option value="09:00 AM">9:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="01:00 PM">1:00 PM</option>
                    <option value="02:00 PM">2:00 PM</option>
                    <option value="03:00 PM">3:00 PM</option>
                    <option value="04:00 PM">4:00 PM</option>
                    <option value="05:00 PM">5:00 PM</option>
                    <option value="06:00 PM">6:00 PM</option>
                    <option value="07:00 PM">7:00 PM</option>
                    <option value="08:00 PM">8:00 PM</option>
                    <option value="09:00 PM">9:00 PM</option>
                </select>
            </div>
            <button type="submit">Next</button>
        </form>
    </div>
{% endblock %}
