{% extends "base.html" %}

{% block title %}Orders - El Pueblo Mexican Food{% endblock %}

{% block content %}
<div class="container-fluid p-3" style="background: transparent;">
    <h1 class="text-danger text-center py-3">All Orders</h1>
    <div class="row">
        {% for order in orders %}
        <div class="col-md-6 col-lg-4">
            <div class="card mb-4 text-black">
                <div class="card-header" style="background-color: #ff0000; color: white;">
                    Order ID: {{ order.id }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ order.first_name }} {{ order.last_name }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ order.customer_email }}</p>
                    <p class="card-text"><strong>Phone:</strong> {{ order.phone }}</p>
                    <p class="card-text"><strong>Date:</strong> {{ order.date.strftime('%m-%d-%Y') }}</p>
                    <p class="card-text"><strong>Time:</strong> {{ order.time }}</p>
                    <p class="card-text"><strong>People:</strong> {{ order.people }}</p>
                    <p class="card-text"><strong>Address:</strong> {{ order.address }}, {{ order.city }}, {{ order.state }} {{ order.zip_code }}</p>
                    <p class="card-text"><strong>Meat Choices:</strong> {{ meat_choices[order.meat1] }}, {{ meat_choices[order.meat2] }}</p>
                    <p class="card-text"><strong>Items:</strong>
                        <ul class="list-unstyled">
                            {% for item in order.items %}
                            <li>{{ item.name }} (x{{ item.quantity }}) - ${{ "%.2f"|format(item.price / 100) }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                    <p class="card-text"><strong>Total Amount:</strong> ${{ "%.2f"|format(order.grand_total / 100) }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
